<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
	<title>Submission Details</title>
	<script th:inline="javascript">
		const submissionId = /*[[${submissionId}]]*/ null;
		const currentUserId = /*[[${currentUserId}]]*/ null;
		const canCreateComment = /*[[${permissions.contains('COMMENT_CREATE')}]]*/ false;
	</script>
	<script src="/js/submission/submission-details.js"></script>
</head>
<body>
<main layout:fragment="content">
	<h1 id="submission-title">Submission Details</h1>
	<table class="table w-auto">
		<tbody>
		<tr>
			<th scope="row">Version</th>
			<td id="submission-version"></td>
		</tr>
		<tr>
			<th scope="row">File</th>
			<td id="submission-file"></td>
		</tr>
		<tr>
			<th scope="row">Description</th>
			<td id="submission-description"></td>
		</tr>
		<tr>
			<th scope="row">Status</th>
			<td id="submission-status"></td>
		</tr>
		<tr>
			<th scope="row">Submitted by</th>
			<td id="submission-student"></td>
		</tr>
		<tr>
			<th scope="row">Reviewed by</th>
			<td id="submission-reviewer"></td>
		</tr>
		</tbody>
	</table>

	<a id="download-link" class="btn btn-primary" href="#" download>Download</a>

	<div class="mt-4">
		<h2 class="h5">Comments</h2>
		<ul id="comments-list" class="list-group mb-3"></ul>

		<div id="comment-form" class="d-none">
			<div class="mb-2">
				<textarea id="comment-content" class="form-control" rows="3" placeholder="Write a comment"></textarea>
			</div>
			<button id="comment-submit-btn" class="btn btn-primary btn-sm">Add Comment</button>
		</div>
	</div>
</main>
</body>
</html>
