<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
	<title>Edit User</title>
	<script th:inline="javascript">
		const userId = /*[[${userId}]]*/ null;
	</script>
	<script src="/js/user/edit-user.js"></script>
</head>
<body>
<main layout:fragment="content">
	<h1>Edit User</h1>
	<form style="max-width: 500px;">
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" id="email" name="email" class="form-control" required>
		</div>
		<div class="mb-3">
			<label for="firstName" class="form-label">First name</label>
			<input type="text" id="firstName" name="firstName" class="form-control" required>
		</div>
		<div class="mb-3">
			<label for="lastName" class="form-label">Last name</label>
			<input type="text" id="lastName" name="lastName" class="form-control" required>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">New password (leave blank to keep current)</label>
			<input type="password" id="password" name="password" class="form-control">
		</div>
		<div class="mb-3">
			<span class="form-label d-block">Roles</span>
			<div id="roles-list"></div>
		</div>
		<button id="save-user-btn" class="btn btn-primary">Save</button>
	</form>
</main>
</body>
</html>
